/* COLORS */

$white: white;
$black: #090911;
$dark-gray: #424242;
$light-gray: #9f9f9f;
$light-gray2: #ebebeb;

$green: #4cd272;
$yellow: #fdffab;
$pink: #ff9be9;
$blue: #90f8ff;
// $dark-black: #0d0f12;
// $light-black: #c9c0c0;
// $light-black: #2c2c2c;
$light-black: #424242;
$shocking-pink: #e80a89;

