@import "./typography";
@import "./variables";
@import "./button";

*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $light-black;
  color: $dark-gray;
}
